@font-face {
  font-family: 'ODYWSS';
  src: url('ODYWSS.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ODYWSS', sans-serif;
  background: url('fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#countdown {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.mensaje {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.instagram-btn img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.instagram-btn img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
